# Copyright 2022 IDRIS / jupyter
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---

# Prometheus related config
prometheus_version: "2.33.0"
prometheus_port: "9090"
prometheus_address: "{{ inventory_hostname }}"
prometheus_web_listen_address: "{{ prometheus_address }}:{{ prometheus_port }}"
prometheus_storage_retention: "30d"
prometheus_storage_retention_size: "10GB"  # FIXME: Get an estimate for production based on available disk size

# Path to store the SSL certificates on remote machine
remote_path_prometheus_ssl: "/etc/prometheus/ssl"

# See https://github.com/prometheus/exporter-toolkit/blob/master/docs/web-configuration.md
prometheus_web_config:
  tls_server_config:
    cert_file: "{{ remote_path_prometheus_ssl }}/{{ ssl_cert_name_prometheus }}"
    key_file: "{{ remote_path_prometheus_ssl }}/{{ ssl_key_name_prometheus }}"
  basic_auth_users:
     prometheus: "{{ lookup('env','JP_PROMETHEUS_PASSWD_HASH') }}"

# Scrape config for self signed certificates
prometheus_scrape_configs_self_signed_certs:
  - job_name: "node"
    metrics_path: "/metrics"
    scheme: "https"
    basic_auth:
      username: "node_exporter"
      password: "{{ lookup('env','JP_NODE_EXPORTER_PASSWD') }}"
    tls_config:
       ca_file: "{{ remote_path_ca_cert_ssl }}/{{ ssl_cert_name_node_exporter.split('.')[0] }}-ca.crt"
       insecure_skip_verify: True
    static_configs:
      - targets:
        - "{{ node_exporter_address }}:{{ node_exporter_port }}"
  - job_name: "jupyterhub"
    scheme: "https"
    authorization:
       credentials_file: "{{ jupyterhub_srv_dir }}/metrics_token"
    tls_config:
       ca_file: "{{ jupyterhub_srv_dir }}/internal-ssl/hub-ca_trust.crt"
       cert_file: "{{ jupyterhub_srv_dir }}/internal-ssl/proxy-client/proxy-client.crt"
       key_file: "{{ jupyterhub_srv_dir }}/internal-ssl/proxy-client/proxy-client.key"
       insecure_skip_verify: True
    metrics_path: "/metrics"
    static_configs:
      - targets:
        - "{{ inventory_hostname }}:8081"  # We are using default port here

# Scrape config for external certificates
prometheus_scrape_configs_ext_certs:
  - job_name: "node"
    metrics_path: "/metrics"
    scheme: "https"
    basic_auth:
      username: "node_exporter"
      password: "{{ lookup('env','JP_NODE_EXPORTER_PASSWD') }}"
    static_configs:
      - targets:
        - "{{ node_exporter_address }}:{{ node_exporter_port }}"
  - job_name: "jupyterhub"
    scheme: "https"
    authorization:
       credentials_file: "{{ jupyterhub_srv_dir }}/metrics_token"
    tls_config:
       ca_file: "{{ jupyterhub_srv_dir }}/internal-ssl/hub-ca_trust.crt"
       cert_file: "{{ jupyterhub_srv_dir }}/internal-ssl/proxy-client/proxy-client.crt"
       key_file: "{{ jupyterhub_srv_dir }}/internal-ssl/proxy-client/proxy-client.key"
       insecure_skip_verify: True
    metrics_path: "/metrics"
    static_configs:
      - targets:
        - "{{ inventory_hostname }}:8081"  # We are using default port here

# Prometheus config based on type of certificates used
prometheus_scrape_configs: "{{ lookup('vars','prometheus_scrape_configs_self_signed_certs') if (self_signed_certs) else lookup('vars','prometheus_scrape_configs_ext_certs')}}"
