# Hidden files
**/._*

# Python cache directories and files
**/__pycache__/
**/*.py~
**/*.pyc
**/.idea

# Jupyter lab and notebook files
**/*.ipynb_checkpoints

# MacOS folder attributes files
**/*.DS_Store

# Ignore hostfile
hostfile

# Ignore vault password file
.vault_pass

# Ignore vault files
**/*vault

# Ignore encryption folder
**/encryption

# Ignore pytest logs
pytestdebug.log

# Ignore intermediate lint files
ansible-lint.txt
ansible-lint.xml

# Ignore build dirs
**/*build
