# Hidden files
**/._*

# Python cache directories and files
**/__pycache__/
**/*.py~
**/*.pyc
**/.idea

# Jupyter lab and notebook files
**/*.ipynb_checkpoints

# MacOS folder attributes files
**/*.DS_Store

# Ignore hostfile
/hostfile

# Ignore vault password file
/.vault_pass

# Ignore vault files
**/*vault

# Ignore encryption folder
**/encryption
**/admin
/secrets.yml
/secrets.yaml
/playbooks/secrets.yml
/playbooks/secrets.yaml

# Ignore pytest logs
pytestdebug.log

# Ignore intermediate lint files
ansible-lint.txt
ansible-lint.xml

# Ignore build dirs
**/*build

# Ignore gitlab-ci-local folder
**/.gitlab-ci-local

# Ignore credentials folder
**/crendentials

# Ignore template ansible config file
/ansible.cfg.template
/.ansible

# Ignore dependent roles
roles/evandam.conda
roles/mambaorg.micromamba

# Ignore build files
/mahendrapaipuri*

# Ignore local test files
playbooks/test.*
playbooks/*.j2
playbooks/*.py
