[defaults]
# Ansible works by transferring modules to your remote machines,
# running them, and then cleaning up after itself. In some cases,
# you may not wish to use the default location and would like to
# change the path. You can do so by altering this setting:
remote_tmp = /tmp
# Use the YAML callback plugin.
stdout_callback = default
result_format = yaml
callback_result_format = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Suppress deprecation warnings
deprecation_warnings=False
# We do not want python intrepreter on localhost to be the one
# inside conda env we use to run ansible. Will have eventual
# permission issues when we want to become another user. We
# set this option to get /usr/bin/python3 as intrepreter by
# default
interpreter_python=auto_legacy
# Could not make it work to ignore venv dir while doing ansible-galaxy collection install
# [galaxy]
# collection_skeleton_ignore = ['^.git$', '^.*/.git_keep$', '^.venv$', '^.\.venv$']
# When Ansible uses SSH, several SSH operations happen in the background for copying 
# files, scripts, and other execution commands. You can reduce the number of SSH 
# connections by enabling the pipelining parameter
pipelining = True
# Profile tasks
callbacks_enabled = timer, profile_tasks, profile_roles
# Enable fact caching
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ${HOME}/.ansible/facts
fact_caching_timeout = 86400
# Add custom filter plugins path to default
filter_plugins = ${PWD}/plugins/filter:${HOME}/.ansible/plugins/filter:/usr/share/ansible/plugins/filter
# Allow broken conditionals (for Prometheus role)
allow_broken_conditionals = true
# Role paths
roles_path = ${PWD}/roles:${HOME}/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

[ssh_connection]
# ControlMaster allows multiple simultaneous SSH sessions with a remote host to use a 
# single network connection. This saves time on an SSH connection's initial processes
# because later SSH sessions use the first SSH connection for task execution.
#
# ControlPersist indicates how long the SSH keeps an idle connection open in the 
# background. For example, ControlPersist=60s keeps the connection idle for 60 seconds:
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
