[defaults]
# Ansible works by transferring modules to your remote machines, 
# running them, and then cleaning up after itself. In some cases, 
# you may not wish to use the default location and would like to 
# change the path. You can do so by altering this setting:
remote_tmp = /tmp
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Suppress deprecation warnings
deprecation_warnings=False
