# The `hosts` inventory file lists the JupyterHub servers managed by Ansible

[jupyterhub]
# Host where jupyterhub will be deployed
server.example.com

[compute]
# List of compute hostnames. We need this to add them as Subject Alternative Names for CA 
# for internal SSL. If we do not provide these names, communication cannot be established 
# between JupyterHub proxy and Single notebook server. Seems like just hostnames will
# suffice here and there is no need to provide full FQDNs
# More details can be found here: https://github.com/jupyterhub/batchspawner/issues/192
compute-0
compute-1

[sshauth_node]
# If SSHAuthenticator is used, we need to provide a node FQDN for JupyterHub to authenticate
# users. JupyterHub tries to ssh into the node using port defined as sshauth_port and 
# if the ssh connection is succesful, the user is authenticated. Note that this node 
# is used only to authenticate users and no softwares are installed here.
login.example.com sshauth_port=22

[nginx:children]
# Host that will have nginx reverse proxy. It can be same as jupyterhub host or different
# By default it is the same. If we want to use a different host, remove children from header
# and set the name of the host here
jupyterhub

[node_exporter:children]
# Hosts to monitor for hardware and OS metrics. By default we monitor only the metrics of the
# host where jupyterhub is deployed
jupyterhub

[prometheus:children]
# Single node to host monitoring server. By default this will be same as jupyterhub host
jupyterhub

[promtail:children]
# Same host as nginx host to monitor the nginx metrics and send them to loki for displaying
# in grafana via dashboards
nginx

[grafana_loki:children]
# Hosts to monitor for hardware and OS metrics. By default we monitor only the metrics of the
# host where jupyterhub is deployed
jupyterhub

[grafana:children]
# Single node to host monitoring dashboards. By default this will be same as jupyterhub host
jupyterhub

[jupyterstack:children]
# This group contains all hosts that will be used in jupyterhub deployment including monitoring
# nodes EXCEPT compute and sshauth_node which are only used for configuring jupyterhub
jupyterhub
nginx
node_exporter
prometheus
promtail
grafana_loki
grafana

