# The `hosts` inventory file lists the JupyterHub servers managed by Ansible

[jupyterhub]
# Host where jupyterhub will be deployed
server.example.com

[prometheus]
# Single node to host Prometheus server. This can be either same host as
# jupyterhub host or a different one.
server.example.com

[grafana]
# Single node to host Grafana server. This can be either same host as
# jupyterhub host or a different one.
server.example.com

[nginx:children]
# Host that will have nginx reverse proxy. By default it is the same host as the
# jupyterhub one. 
# THERE IS NO NEED TO CHANGE THIS GROUP
jupyterhub

[node_exporter:children]
# Hosts to monitor for hardware and OS metrics. This should be same host as the
# one where JupyterHub is deployed. 
# THERE IS NO NEED TO CHANGE THIS GROUP
jupyterhub
