# List of pip requirements that need to be installed in the ansible host

ansible>=5.0.1,<14.0.0
ansible-core>=2.12.1,<2.21.0
ansible-lint>=6.0.2
bcrypt==4.0.1 # to resolve passlib compatibility issues
Jinja2>=3.0.3
jmespath>=1.0.0
MarkupSafe>=2.0.1
molecule>=5.0.0
# Starting from molecule 5.0.0 (I guess), default molecule installation comes
# only with delegate driver and we need to install other drivers from
# molecule-plugins project
molecule-plugins[docker]
molecule-plugins[podman]
passlib
pytest
pytest-testinfra
PyYAML>=6.0
