# Copyright 2022 IDRIS / jupyter
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# These are global variables that are used on host.

# ---------------------------------------------------
# Ansible
# ---------------------------------------------------

# Path of the Python 3 interpreter on the remote server
ansible_python_interpreter: "/usr/bin/python3"

# ---------------------------------------------------
# conda related configuration
# ---------------------------------------------------

# Whether to install conda or use a pre-existing installation
install_conda: true

# Location where conda is installed in the case of install_conda
# is false. If install_conda is true, set this to /opt/conda as 
# we use rpms to install conda and /opt/conda is the default 
# location
conda_prefix: "/opt/conda"


# ---------------------------------------------------
# List of dev tools to install
# ---------------------------------------------------

dev_tools:
  - "git"
  - "htop"
  - "nano"
  - "tree"


# ---------------------------------------------------
# JupyterHub version
# ---------------------------------------------------

# We use version as conda env name for the jupyterhub
# It helps us to move between different versions seamlessly
jupyterhub_version: "2.2"

# ---------------------------------------------------
# Jupyter components list
# ---------------------------------------------------

# core jupyterhub components
jupyterhub_pkgs:
 - "jupyterhub={{ jupyterhub_version }}"
 - "jupyterlab=3.2.9"
 - "notebook=6.4.8"
 - "cryptography=36.0.0"
 - "nodejs=17.4.0"

# Additional dependencies
jupyterhub_deps:
 - "batchspawner==1.1"
 - "git+https://{{ gituser | urlencode }}:{{ gitpass | urlencode }}@gitlab.com/i2461/jupyter/jupyter-ssh-authenticator.git@main"
 - "git+https://{{ gituser | urlencode }}:{{ gitpass | urlencode }}@gitlab.com/i2461/jupyter/jupyter-slurm-spawner.git@main"
 
# List of jupyterlab extensions that will be installed from pip
jupyterlab_pip_extensions:
 - "jupyterlab-git==0.34.2"
 - "jupyter-resource-usage==0.6.1"
 - "jupyterlab-topbar==0.6.1"
 - "jupyterlab-system-monitor==0.8.0"
 - "jupyterlab_latex==3.1.0"
 - "jupyter_bokeh==3.0.2"
 - "jupyterlab-lsp==3.10.0"
 - "jupyterlab-gitlab==3.0.0"
 - "jupyterlab-quickopen==1.2.0"
 - "ipywidgets==7.6.3"
 - "plotly==5.6.0"
 - "cdsdashboards==0.6.0"
 - "cdsdashboards[user]==0.6.0"
 - "voila==0.3.5"
 - "streamlit==1.7.0"
 - "dash==2.0.0"
 - "dask-labextension==5.2.0"
 - "nbdime==3.1.1"
 - "sidecar==0.5.1"
 - "bokeh==2.4.2"
 - "numpy==1.22.3"
 - "dask[complete]==2022.2.1"
 - "tensorflow==2.7.0"
 - "mlflow==1.23.1"
 - "dask-ml==2022.1.22"
 - "matplotlib==3.5.1"

# We need server-proxy to get different external applications to be 
# able to launch within jupyterhub
jupyterlab_extensions:
  - "jupyterlab-theme-toggle"

# List of server proxies we will add to jupyterlab servers
# If user do not wants to install any of these proxies, 
# set install to false
#
# Xpra:
# Make sure that compute nodes will have Xpra installed
# on them. We also need libglvnd-opengl package for Xpra
# to work
#
# Tensorboard and MLFlow:
# For tensorboard and MLflows, if the proxies are enabled
# the roles will install them in the jupyterhub environment
# FIXME: Tag the versions for production deployment
jupyter_server_proxies:
  - { repo: "git+https://{{ gituser | urlencode }}:{{ gitpass | urlencode }}@gitlab.com/i2461/jupyter/jupyter-proxy-apps/jupyter-mlflow-proxy.git@main", install: true }
  - { repo: "git+https://{{ gituser | urlencode }}:{{ gitpass | urlencode }}@gitlab.com/i2461/jupyter/jupyter-proxy-apps/jupyter-tensorboard-proxy.git@main", install: true }
  - { repo: "git+https://{{ gituser | urlencode }}:{{ gitpass | urlencode }}@gitlab.com/i2461/jupyter/jupyter-proxy-apps/jupyter-xpra-html5-proxy.git@main", install: true }


# ---------------------------------------------------
# Xues Cling C++ kernel
# ---------------------------------------------------

# C++ kernel
install_cpp_kernel: false

# Xues cling version for C++ kernel
cling_version: "0.13.0"

# Path where xeus cling binaries will be installed
cling_pkg_path: "{{ jupyter_env_prefix }}/cling-{{ julia_version }}"


# ---------------------------------------------------
# List of Julia packages to install
# ---------------------------------------------------

# Julia kernel
install_julia_kernel: false

# Julia version
julia_version: "1.6.5"

# Path where Julia binaries will be installed
julia_pkg_path: "{{ jupyter_env_prefix }}/julia-{{ julia_version }}"

# This is just a minimal list. We can add more based
# on the requirements of the users
julia_packages:
  - "Flux"
  - "ScikitLearn"
  - "MLBase"
  - "MPI"


# ---------------------------------------------------
# List of R packages to install
# ---------------------------------------------------

# R kernel
install_r_kernel: false

# R version
# Note we are installing R from conda using r-recommended 
# package. The version corresponds to the same. See below
# for more details
rlang_version: "3.6.0"

# Path where R binaries will be installed
rlang_pkg_path: "{{ jupyter_env_prefix }}/r-{{ rlang_version }}"

# Minimal list of R packages that will be installed
r_packages:
  - "r-recommended={{ rlang_version }}"
  - "r-essentials={{ rlang_version }}"
  - "r-irkernel=0.8.15"
